name: CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version-file: ".nvmrc"
      - run: yarn install
      - run: yarn build
      - run: yarn test
