name: Release

on:
  push:
    branches:
      - main
      - rc/*
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/exec
            semantic-release-major-tag
        env:
          FORCE_COLOR: 1
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
